<div class="row entry">
  <div class="title">{{session.username}}'s account</div>
  <hr>

  {{#if saveSucceeded}}
    <div class="alert alert-success">
      Account was updated successfuly.
    </div>
  {{/if}}

  {{#if saveFailed}}
    <div class="alert alert-danger">
      Account failed to update. Please make sure that the data you entered comforms to the rules mentioned below.
    </div>
  {{/if}}

  <div class="col-md-6">
    <form {{action "updateAccount" on="submit" }} class="form-horizontal" role="form">
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          {{view Ember.TextField class="form-control" id='email' value=email placeholder='Email'}}
        </div>
      </div>
      <div class="form-group">
        <label for="oldPassword" class="col-sm-3 control-label">Old password</label>
        <div class="col-sm-9">
          {{input type="password" class="form-control" value=oldPassword id="old_password" placeholder="Old password"}}
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword" class="col-sm-3 control-label">New password</label>
        <div class="col-sm-9">
          {{input type="password" class="form-control" value=newPassword id="new_password" placeholder="New password"}}
        </div>
      </div>   
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          {{input type="submit" value="Update" class="btn btn-default"}}
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <div class="alert alert-info">
      Make sure you follow these rules:
      <br>
      <br>
      <ul>
        <li>Email - a valid one (used for avatars)</li>
        <li>Password - min: 6, max: 50</li>
      </ul>
    </div>
  </div>
</div>
