<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      {{link-to "EmberFlare" "entries" class="brand"}}
      <ul class="nav">
        <li>{{#link-to "entries"}}Entries{{/link-to}}</li>
        <li>{{#link-to "entries.new"}}New Entry{{/link-to}}</li>
      </ul>
      <ul class="nav pull-right">
        {{#if session.isAuthenticated}}
          <li><a {{ action 'invalidateSession' }}>Logout</a></li>
        {{else}}
          <li><a {{ action 'authenticateSession' }}>Login</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>


<div class="container">
  {{outlet}}
</div>

