<div class="navbar navbar-default navbar-static-top" role="navigation">

  <div class="container">
    <div class="navbar-header">
  
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <div class="xs-test visible-xs">
        {{#if session.isAuthenticated}} 
          {{#view EmberFlare.SignedinView}} 
            <ul class="nav navbar-nav pull-right">
              <li><a {{ action 'invalidateSession' }}  href="" id="signout" title="Sign out"> <i class="fa fa-sign-out"></i></a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li>{{#link-to "account" id="account-xs" title="Account settings"}}<i class="fa fa-cog"></i>{{/link-to}}</li>
            </ul>
          {{/view}} 
        {{else}}
          <ul class="nav navbar-nav pull-right">
            <li>{{link-to "Sign in" "signin"}}</li>
           </ul>
           <ul class="nav navbar-nav pull-right">
            <li>{{link-to "Sign up" "signup"}}</li>
           </ul>
        {{/if}}  
      </div>
      {{link-to "EmberFlare" "entries" class="navbar-brand"}}
    </div>
    
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{link-to "Entries" "entries"}}</li>
        <li>{{link-to "Submit" "entries.new"}}</li>
        <li>{{link-to "About" "about"}}</li>
        <li>
          <a href="https://github.com/ugisozols/emberflare.com" target="blank">Fork us!</a>
        </li>
        <li class="hidden-sm">
          <a href="https://twitter.com/emberflare_com" target="blank">@emberflare_com</a>
        </li>
      </ul>
      
       {{#if session.isAuthenticated}} 
        {{#view EmberFlare.SignedinView}} 
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <li>{{gravatar-image emailHash=session.gravatar_email_hash}}</li>
            <li>{{#link-to "account" id="account" title="Account settings"}}<i class="fa fa-cog"></i>{{/link-to}}</li>
            <li><a {{ action 'invalidateSession' }}  href="" id="signout" title="Sign out"> <i class="fa fa-sign-out"></i></a></li>
          </ul>
          <p class="navbar-text navbar-right nav-username hidden-xs">{{session.username}}</p>
        {{/view}} 
      {{else}}
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li>{{link-to "Sign in" "signin"}}</li> 
          <li>{{link-to "Sign up" "signup"}}</li>
        </ul>
      {{/if}}     
    </div>
  </div>
</div>

<div class="container">{{outlet}}</div>
