<div class="row signup">

  <div class="title">Sign up</div>
  <hr>

  {{#if signupFailed}}
    <div class="alert alert-error">
      <button {{ action "clearWarning" }}type="button" class="close">&times;</button>
      Signup failed! Please double check that the values you provided meet the requirements mentioned below.
    </div>
  {{/if}}

  <div class="span6">
    <form {{action 'signup' on='submit'}} class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
          {{input id='username' value=username placeholder='Username'}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          {{input id='email' value=email placeholder='Email'}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          {{input id='password' type='password' value=password placeholder='Password'}}
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          {{input type="submit" value="Sign up" disabled=fieldsEmpty class="btn"}}
        </div>
      </div>
    </form>
  </div>

  <div class="span5">
    <div class="alert alert-info">
      A couple of things you should know:
      <br>
      <br>
      <ul>
        <li>Username - min: 2, max: 50</li>
        <li>Email - a valid one (used for avatars)</li>
        <li>Password - min: 6, max: 50</li>
      </ul>
    </div>
  </div>

</div>
