{{#each entry in model}}
  <div class="row entry">
    <div class="span2">
      {{gravatar-image emailHash=entry.authorGravatarEmailHash size="90"}}
      <div class="author">{{entry.authorName}}</div>
    </div>

    <div class="span10">
      <div>
        {{link-to entry.title "entries.show" entry class="title"}}
      </div>
      <div class="posted-at">
        <i class="fa fa-clock-o"></i> {{format-date entry.createdAt}}
      </div>
      <hr>

      <div class="body">{{format-markdown entry.body}}</div>
    </div>
  </div>
{{/each}}
