{{#each}}
  <div class="row entry">
    <div class="col-md-2 author">
      {{gravatar-image emailHash=authorGravatarEmailHash size="90"}}
      <div class="name">{{authorName}}</div>
    </div>

    <div class="col-md-10 post">
      <div>
        {{link-to title "entries.show" this class="title"}}
      </div>
      <div class="posted-at">
        <i class="fa fa-clock-o"></i> {{format-date createdAt}}
      </div>
      <hr>

      <div class="body">{{format-markdown body}}</div>
    </div>
  </div>
{{/each}}
