{{#each}}
  <div class="row entry">
    <div class="span2">
      {{gravatar-image emailHash=authorGravatarEmailHash size="90"}}
      <div class="author">{{authorName}}</div>
    </div>

    <div class="span10">
      <div class="title">
        {{link-to title "entries.show" this}}
      </div>
      <div class="posted-at">
        <i class="fa fa-clock-o"></i> {{format-date createdAt}}
      </div>
      <hr>

      <div class="content">{{format-markdown content}}</div>
    </div>
  </div>
{{/each}}
