<div class="row entry submit">

  <div class="title">Submit</div>
  <hr>

  {{#if isAdding}}
    Adding ...
  {{else}}
    <form {{action "createEntry" on="submit" }} class="form-horizontal" role="form">
    
      {{#unless session.isAuthenticated}}
        <div class="form-group">
          <label for="inputAuthor" class="col-sm-2 control-label">Author</label>
          <div class="col-sm-10">
            {{input type="text" class="form-control" value=authorName id="inputAuthor" placeholder="Author"}}
          </div>
        </div>
      {{/unless}}
      
      <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          {{input type="text" class="form-control" value=title id="inputTitle" placeholder="Title"}}
        </div>
      </div>

      <div class="form-group">
        <label for="inputBody" class="col-sm-2 control-label">Body</label>
        <div class="col-sm-10">
          {{textarea class="form-control" value=body id="inputBody" rows="5" placeholder="We only support markdown. Also watch the live preview below as you type"}}
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          {{input type="submit" value="Submit" disabled=fieldsEmpty class="btn btn-default"}}
        </div>
      </div>
    </form>
    
    <hr>

    {{#if body}}
      {{format-markdown body}}
    {{/if}}

  {{/if}}
</div>
