<div class="row entry submit">

  <div class="title">Submit</div>
  <hr>

  {{#if isAdding}}
    Adding ...
  {{else}}
    <form {{action "createEntry" on="submit" }} class="form-horizontal">
      {{#unless session.isAuthenticated}}
        <div class="control-group">
          <label class="control-label" for="inputAuthor">Author</label>
          <div class="controls">
            {{input type="text" value=authorName id="inputAuthor" placeholder="Author"}}
          </div>
        </div>
      {{/unless}}
      <div class="control-group">
        <label class="control-label" for="inputTitle">Title</label>
        <div class="controls">
          {{input type="text" value=title id="inputTitle" placeholder="Title"}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputContent">Content</label>
        <div class="controls">
          {{textarea value=model.content id="inputContent" placeholder="We only support markdown. Also watch the live preview below as you type"}}
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          {{input type="submit" value="Submit" disabled=fieldsEmpty class="btn"}}
        </div>
      </div>
    </form>

    <hr>

    {{#if model.content}}
      {{format-markdown model.content}}
    {{/if}}

  {{/if}}
</div>
